.main {
  padding: 2rem 1rem;
}

/* menu */
.menu {
  padding-right: 1rem;
  border-right: 1px solid #f1f1f1;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu ul ul {
  margin-left: 1rem;
}
.menu ul li a.active {
  font-weight: bold;
}

/* content */
.content {
  padding-left: 2rem;
}

/* footer */
.footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-top: 1px solid #f1f1f1;
}